<div class="contact-container">
    <div class="profile-circle">
      <img src="assets/img/profile.jpg" alt="Profile" class="profile-img">
    </div>
    <h2>📞 Contactez-moi</h2>
    <p>📱 WhatsApp : <a href="https://wa.me/21828628416" target="_blank">+218 28 628 416</a></p>
    <p>📧 Email : 
        <a href="mailto:ismaila.barry@esprit.tn">ismaila.barry@esprit.tn</a> | 
        <a href="mailto:ismailaiphone@gmail.com">ismailaiphone@gmail.com</a>
    </p>
    
    <div class="social-links">
        <a href="https://www.linkedin.com/in/isma%C3%AFla-barry-04b709323/" target="_blank" class="social-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn">
        </a>
        <a href="https://www.facebook.com/ismaila.barry.3192" target="_blank" class="social-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
        </a>
        <a href="https://www.instagram.com/ht_ismaila4/" target="_blank" class="social-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
        </a>
    </div>
  </div>