/* skills.component.css */
.skills {
    padding: 20px;
    text-align: center;
  }
  
  .tools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tools img {
    width: 120px;
    height: 40px;
  }
  