/* app-wrapper pour gérer le layout */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* main pour éviter que le contenu soit masqué */
main {
  flex: 1;
  width: 100%;
  overflow-x: hidden;
}