<!-- footer.component.html -->
<footer>
    <p>Barry Ismaïla</p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/isma%C3%AFla-barry-04b709323/" target="_blank" class="social-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn Logo" />
      </a>
      <a href="https://www.facebook.com/ismaila.barry.3192" target="_blank" class="social-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo" />
      </a>
      <a href="https://www.instagram.com/ht_ismaila4/" target="_blank" class="social-btn">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram Logo" />
      </a>
    </div>
</footer>
