<!-- about.component.html -->
<section class="about">
    <h2>Salut 👋, je suis Barry Ismaïla</h2>
    <p>Un <strong>Développeur Full Stack</strong> passionné du <strong>Mali</strong> 🚀</p>
  
    <p>🔭 Je travaille actuellement sur <strong>l'e-commerce</strong></p>
    <p>🌱 J'apprends actuellement <strong>DEVOPS</strong></p>
    <p>📝 J'écris régulièrement des articles sur <a href="https://github.com/barryismaila4" target="_blank">GitHub</a></p>
    <p>💬 Demandez-moi des informations sur <strong>Spring Boot, Angular, FastAPI</strong></p>
    <p>📫 Contactez-moi à <strong>ismaila.barry@esprit.tn</strong></p>
</section>
  
<hr>
  
<section class="connect">
    <h3>🌐 Connectez-vous avec moi</h3>
    <a href="https://github.com/barryismaila4" target="_blank">
      <img src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white" alt="GitHub"/>
    </a>
    <a href="https://www.instagram.com/ht_ismaila4/" target="_blank">
      <img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white" alt="Instagram"/>
    </a>
    <a href="https://www.facebook.com/ismaila.barry.3192" target="_blank">
      <img src="https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white" alt="Facebook"/>
    </a>
    <a href="https://www.linkedin.com/in/isma%C3%AFla-barry-04b709323/" target="_blank">
      <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn"/>
    </a>
</section>
